<div class="container py-5">

	<h1 data-aos="fade-up">Аналитика</h1>

</div>

<div class="container fs-4">


	<div class="card card-body shadow-sm border-0 mb-4" data-aos="fade-up">
		<p class="m-0">
			Сертификатов по категориям
		</p>
		<app-stats-categories-certs-size></app-stats-categories-certs-size>
	</div>

	<div class="card card-body shadow-sm border-0 mb-4" data-aos="fade-up">
		<p class="m-0">
			Топ 5 по CTR
		</p>
		<app-stats-certs-ctr></app-stats-certs-ctr>
	</div>

	<div class="card card-body shadow-sm border-0 mb-4" data-aos="fade-up">
		<p class="m-0">
			Топ-5 самых популярных сертификатов которые приобретают
		</p>
		<app-stats-orderings-size></app-stats-orderings-size>
	</div>

	<div class="card card-body shadow-sm border-0 mb-4" data-aos="fade-up">
		<p class="m-0">
			Круговая сколько активировали и сколько нет
		</p>
		<app-stats-orderings-status></app-stats-orderings-status>
	</div>

</div>
