<footer class="container">
	<div class="row">

		<div class="col-12 col-lg-2 mb-3" data-aos="fade-up">
			<img src="/img/favicon.png" alt="img" class="w-100">
		</div>

		<div class="col-12 col-lg d-flex align-items-center mb-3" data-aos="fade-up">
			<div>
				<p class="fs-2 m-0">
					Attest
				</p>
				<p class="fs-3 m-0">
					Мир впечатлений в подарок
				</p>
				<p class="fs-6 m-0" align="justify">
					Мы создаем уникальные моменты счастья. Attest — это ваш надежный проводник в мире подарочных
					сертификатов на незабываемые впечатления. От романтических спа-программ и экстремальных приключений
					до кулинарных мастер-классов — у нас найдется идеальный подарок для любого повода и человека. Дарите
					эмоции, которые останутся в памяти навсегда.
				</p>
			</div>
		</div>

	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-center py-1 my-1 border-top">
		<p>© Attest</p>
	</div>
</footer>
