<div class="card card-body shadow-sm border-0 mb-3" data-aos="fade-up">
	<form [formGroup]="categoryFormGroup" (ngSubmit)="update()" class="row">
		<div class="col-12 col-lg-6 my-1">
			<input type="text" formControlName="name" class="form-control" placeholder="Наименование">
		</div>
		<div class="col-12 col-lg my-1">
			<button type="submit" class="btn btn-success w-100" [disabled]="categoryFormGroup.invalid">
				Обновить
			</button>
		</div>
		<div class="col-12 col-lg my-1">
			<a (click)="delete()" class="btn btn-danger w-100">Удалить</a>
		</div>
	</form>
</div>
