<div class="container py-5">

	<h1 data-aos="fade-up">{{ cert.name }}</h1>

	<div class="row mt-4" data-aos="fade-up">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'certs'" class="btn btn-primary">Назад</a>
		</div>
		<div *ngIf="role === 'MANAGER'" class="col-auto">
			<a appNavigate [navigateURL]="'cert_update'" [queryParams]="{id:cert.id}"
			   class="btn btn-success">Обновить</a>
		</div>
		<div *ngIf="role === 'MANAGER'" class="col-auto">
			<a (click)="delete()" class="btn btn-danger">Удалить</a>
		</div>
	</div>

</div>

<div class="container">

	<div class="row">
		<div class="col-12 col-lg mb-4" data-aos="fade-up">
			<a [href]="cert.file" class="btn btn-primary w-100 mb-2" target="_blank">Файл</a>
			<div class="ratio ratio-16x9">
				<img [src]="cert.img" alt="img" class="object-fit-cover rounded shadow-sm">
			</div>
		</div>
		<div class="col-12 col-lg mb-4" data-aos="fade-up">
			<div class="card card-body shadow-sm border-0 fs-4">
				<div *ngIf="role === 'USER'" class="mb-2">
					<select [(ngModel)]="type" class="form-select mb-2">
						<option value="">Выберите</option>
						<option *ngFor="let i of types | keyvalue" [value]="i.key" [label]="i.value"></option>
					</select>
					<input *ngIf="type === 'GIFT'" type="email" [(ngModel)]="email" class="form-control mb-2" minlength="1" maxlength="255" placeholder="Электронная почта">
					<button type="button" class="btn btn-primary w-100" [disabled]="checkOrdering" (click)="ordering()">
						Оформить
					</button>
				</div>
				<p class="m-0">{{ 'Категория: ' + cert.categoryName }}</p>
				<p class="m-0">{{ 'Повод: ' + cert.reasonName }}</p>
				<p class="m-0">{{ 'Адрес: ' + cert.address }}</p>
				<p class="m-0">{{ 'Стоимость: ' + cert.price }}</p>
				<p class="m-0">{{ 'Срок действия: ' + cert.term + ' м.' }}</p>
				<p class="m-0">{{ 'Просмотров: ' + cert.views }}</p>
				<p class="m-0">{{ 'CTR: ' + cert.ctr }}</p>
			</div>
		</div>
		<div class="col-12 mb-4" data-aos="fade-up">
			<div class="card card-body shadow-sm border-0 fs-4">
				<p class="m-0">{{ cert.description }}</p>
			</div>
		</div>
	</div>

</div>
