<div class="container py-5">

	<h1 data-aos="fade-up">
		Подарите незабываемые впечатления!
	</h1>
	<p class="fs-2" data-aos="fade-up">
		Цифровой сертификат на тысячи развлечений. Выберите и оплатите онлайн за 2 минуты.
	</p>

	<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="fade-up">
		<div class="carousel-inner rounded shadow-sm">
			<div class="carousel-item active">
				<img src="/img/hero/1.jpg" class="d-block w-100" alt="img">
			</div>
			<div class="carousel-item">
				<img src="/img/hero/2.jpg" class="d-block w-100" alt="img">
			</div>
			<div class="carousel-item">
				<img src="/img/hero/3.jpg" class="d-block w-100" alt="img">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<a appNavigate [navigateURL]="'certs'" class="btn btn-lg btn-primary w-100 mt-4" data-aos="fade-up">Выбрать
		сертификат</a>

</div>

<div class="container py-5">

	<h1 data-aos="fade-up">
		Как это работает?
	</h1>
	<p class="fs-2" data-aos="fade-up">
		Показать, что пользоваться сервисом легко и быстро.
	</p>

	<div class="row fs-5 text-center">
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 fs-4 text-uppercase">
					Шаг 1
				</p>
				<p class="mb-2 text-primary bi bi-search" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Выберите сертификат
				</p>
				<p class="m-0">
					Изучите каталог и найдите идеальный вариант для себя или в подарок.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 fs-4 text-uppercase">
					Шаг 2
				</p>
				<p class="mb-2 text-primary bi bi-cart" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Оформите заказ
				</p>
				<p class="m-0">
					Оплатите онлайн. Получите код и красивый PDF-сертификат на email.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 fs-4 text-uppercase">
					Шаг 3
				</p>
				<p class="mb-2 text-primary bi bi-calendar-check" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Подарите и активируйте
				</p>
				<p class="m-0">
					Отправьте сертификат другу или используйте сами. Активируйте в личном кабинете в нужный день.
				</p>
			</div>
		</div>
	</div>

</div>

<div class="container py-5">

	<h1 data-aos="fade-up">
		Почему выбирают нас?
	</h1>
	<p class="fs-2" data-aos="fade-up">
		Убедить в надежности и уникальности сервиса.
	</p>

	<div class="row fs-5 text-center">

		<div class="col-12 col-lg-6 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 text-primary bi bi-calendar-plus" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Гибкие даты
				</p>
				<p class="m-0">
					Активируйте, когда удобно. При подарке +10 дней на активацию.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 text-primary bi bi-file-pdf" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Красивый цифровой дизайн
				</p>
				<p class="m-0">
					Сертификат в формате PDF, который не стыдно подарить.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 text-primary bi bi-gift" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Мгновенная отправка
				</p>
				<p class="m-0">
					Отправьте подарок на email сразу после оплаты.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="fade-up">
			<div class="card card-body h-100 border-0 shadow-sm">
				<p class="mb-2 text-primary bi bi-shield-check" style="font-size: 3em"></p>
				<p class="mb-2 fs-4">
					Уникальный код и защита
				</p>
				<p class="m-0">
					Каждый сертификат имеет уникальный код для проверки подлинности.
				</p>
			</div>
		</div>
	</div>

</div>

<div class="container py-5">

	<!--		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1724993567955!5m2!1sru!2sby"-->
	<!--	<iframe-->
	<!--		src="https://yandex.by/maps/minsk/"-->
	<!--		allowfullscreen frameborder="0" loading="lazy" height="500" class="w-100 rounded shadow"-->
	<!--		data-aos="fade-up"></iframe>-->

</div>
