<div class="container py-5">

	<h1 data-aos="fade-up">Добавить</h1>

	<div class="row mt-4" data-aos="fade-up">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'certs'" class="btn btn-primary">Назад</a>
		</div>
	</div>

</div>

<div class="container">

	<div class="card card-body shadow-sm border-0" data-aos="fade-up">
		<form [formGroup]="certFormGroup" (ngSubmit)="save()" class="row fs-4">
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Наименование</p>
				<input type="text" formControlName="name" class="form-control" minlength="1" maxlength="255">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Адрес</p>
				<input type="text" formControlName="address" class="form-control" minlength="1" maxlength="255">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Стоимость</p>
				<input type="number" formControlName="price" class="form-control" min="0.01" step="0.01" max="1000000">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Срок действия, м.</p>
				<input type="number" formControlName="term" class="form-control" min="1" step="1" max="100">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Категории</p>
				<select name="categoryId" (change)="changeCategoryId($event)" class="form-select">
					<option disabled selected>Выберите</option>
					@for (i of categories; track i.id) {
						<option [value]="i.id" [label]="i.name"></option>
					}
				</select>
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Повод</p>
				<select name="reason" (change)="changeReason($event)" class="form-select">
					<option disabled selected>Выберите</option>
					<option *ngFor="let i of reasons | keyvalue" [value]="i.key" [label]="i.value"></option>
				</select>
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Фото</p>
				<input type="file" (change)="changeImg($event)" class="form-control" accept="image/*">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="m-0">Файл</p>
				<input type="file" (change)="changeFile($event)" class="form-control" accept="*/*">
			</div>
			<div class="col-12 mb-2">
				<p class="m-0">Описание</p>
				<textarea formControlName="description" class="form-control" minlength="1" maxlength="5000"></textarea>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary w-100" [disabled]="checkSubmit">Добавить</button>
			</div>
		</form>
	</div>

</div>
