<nav class="navbar flex-column align-items-start h-100 border-0">
	<div class="container flex-column ps-0">
		<a appNavigate [navigateURL]="''" class="navbar-brand mb-3" role="button">
			<img src="/img/favicon.png" alt="img" style="height: 75px">
			Attest
		</a>

		<div class="w-100">
			<ul class="navbar-nav flex-column w-100">

				<li class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="''">Главная</a>
				</li>
				<li class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="'certs'">Каталог</a>
				</li>

				<li *ngIf="role === 'MANAGER' || role === 'USER'" class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="'orderings'">Сертификаты</a>
				</li>

				<li *ngIf="role === 'ADMIN'" class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="'categories'">Категории</a>
				</li>
				<li *ngIf="role === 'ADMIN'" class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="'users'">Пользователи</a>
				</li>
				<li *ngIf="role === 'ADMIN'" class="nav-item" data-aos="fade-right">
					<a class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2" role="button"
					   appNavigate [navigateURL]="'stats'">Аналитика</a>
				</li>

			</ul>

			<ul class="navbar-nav flex-column w-100 mt-auto">
				<li class="nav-item" data-aos="fade-right">
					<hr>
				</li>
				<li *ngIf="role === 'NOT'" class="nav-item" data-aos="fade-right">
					<a appNavigate [navigateURL]="'login'" role="button"
					   class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2">Вход</a>
				</li>
				<li *ngIf="role === 'NOT'" class="nav-item" data-aos="fade-right">
					<a appNavigate [navigateURL]="'reg'" role="button"
					   class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2">Регистрация</a>
				</li>
				<li *ngIf="role !== 'NOT'" class="nav-item" data-aos="fade-right">
					<a (click)="logout()" role="button"
					   class="nav-link bg-primary text-white ps-5 rounded-end-5 mb-2">Выход</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
