<div class="container py-5">

	<h1 data-aos="fade-up">Каталог сертификатов</h1>

	<div *ngIf="role === 'MANAGER'" class="row mt-4" data-aos="fade-up">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'cert_add'" class="btn btn-primary">Добавить</a>
		</div>
	</div>

</div>

<div class="container">

	<div class="row fs-5">
		@for (i of certsSorted; track i.id) {
			<div class="col-12 col-lg-4 mb-4" data-aos="fade-up">
				<a appNavigate [navigateURL]="'cert'" [queryParams]="{id:i.id}" role="button">
					<div class="card card-body shadow-sm border-0">
						<div class="ratio ratio-16x9 mb-2">
							<img [src]="i.img" alt="img" class="object-fit-cover rounded shadow-sm">
						</div>
						<p class="mb-2 text-center">{{ i.name }}</p>
						<p class="m-0">{{ 'Категория: ' + i.categoryName }}</p>
						<p class="m-0">{{ 'Повод: ' + i.reasonName }}</p>
						<p class="m-0">{{ 'Стоимость: ' + i.price }}</p>
					</div>
				</a>
			</div>
		}
	</div>

</div>

